<launch>
    <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>
    <!-- Axes -->
    <param name="scale_linear" value="2" type="double"/>
    <param name="scale_angular" value="2" type="double"/>

    <node pkg="learning_tf" type="broadcaster"
          args="/turtle1" name="broadcaster1" />
    <node pkg="learning_tf" type="broadcaster"
          args="/turtle2" name="broadcaster2" />
    <node pkg="learning_tf" type="listener"
          name="listener" />     

  </launch>